::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.header {
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

@media (max-width: 600px) {
  body {
    overflow: hidden;
    width: 100vw;
    /* padding: 0 10px; */
  }

  textarea,
  .code-display {
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }

  button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }

  #scrollToTopBtn {
    font-size: 0.8rem;
    padding: 8px 12px;
  }
}
